
*.out
outputNW
*.png
slurm
slurm/slurm.folder
slurm/slurm.folder
*.folder
slurm/slurm.folder
*.root
slurm/slurm.folder
slurm/slurm.folder
slurm/slurm.folder
exec_CreateUsefulHiRAHistograms
exec_CreateUsefulHiRAHistograms.cpp
